# Backend
backend/build/
backend/.gradle/
backend/out/
backend/*.iml
backend/.idea/

# Frontend
frontend/.dart_tool/
frontend/build/

# Docker
postgres_data/

# IDE
.DS_Store
.vscode/
*.iws
*.iml
*.ipr

# Logs
*.log
logs/